In [1]:
6+2

8

In [2]:
# This session vovers basic variables in python

In [5]:
print("Hello welcome all")

Hello welcome all

In [7]:
x=6
y=7
z=10.9

In [9]:
print(1,2,3,sep="\t")

1	2	3

In [11]:
print(1,2,3,sep="\n")

1
2
3

In [12]:
print(1,2,3,sep="~")

1~2~3

In [14]:
print(1,"python",10.9,sep="\t")

1	python	10.9

In [15]:
1+2.3+89

92.3

In [16]:
type(3.4)

float

In [17]:
type("hello")

str

In [18]:
type("q")

str

In [19]:
type(200000000.99999999999)

float

In [20]:
type(-000000.99999999999)

float

In [26]:
3==9

False

In [27]:
type(3==9)

bool

In [35]:
# int = %d , float = %f , str = %s , complex = %c
Emp_id = 143
salary = 14444.78
name = "Ram"
print("%s has been alloted %d emp id and salary %f" %(name,Emp_id,salary))

Ram has been alloted 143 emp id and salary 14444.780000

In [39]:
# Variables in python
# first letter should be a character
 
age,name,salary = 22,"ram",89997 # multiple declarations

a_b = 10  # single declaration

#1a = "1212" # this will not work

In [ ]:
# Numerical variables  and functions

# types of classes
# int, float, complex, str

In [40]:
# user input
age = int(input())

27

In [43]:
salary = float(input())

2.5

In [44]:
name = input() # default input type in string

Ram

In [45]:
comp = complex(input())

2+9j

In [57]:
# mathermatical operations 
6+2.15 , 4*12 , 4//7 , 4%7 , 4/7 , 2**5

(8.15, 48, 0, 4, 0.5714285714285714, 32)

In [63]:
# Can the mathematical functions work woth string also ?? Lets checkout
# String functions

"Python"+"hello" , "a"*5

('Pythonhello', 'aaaaa')

In [64]:
"data" , 1234

('data', 1234)

In [68]:
a = "data"
a[0],a[3],a[-2],a[1:3]

('d', 'a', 't', 'at')

In [72]:
"a" in "data","A" in "data"  # this check wether the letter is persent in string or not

(True, False)

In [73]:
"a" is "data" , "data" is "data", "data" is "Data", "data" is "data "

(False, True, False, False)

In [85]:
# string methods
a = "this is python"
b = "Class"

In [80]:
#string methods
len(a), len(b)

(14, 5)

In [81]:
a.upper()

'THIS IS PYTHON'

In [82]:
a.lower()

'this is python'

In [86]:
max(a), min(a)

('y', ' ')

In [87]:
max("ab cdyt")

'y'

In [93]:
a = "this is python"

a.split()

['this', 'is', 'python']

In [94]:
a.count("s")

2

In [95]:
a.index("s")

3

In [107]:
a="123abc" # combined alpha numeric string
b="1234"   # numberic string
c="abcd"   # pure alphabetic string
d = "    "

a.isalpha(),b.isalpha(),c.isalpha() , a.isdigit(),b.isdigit(),c.isdigit() , d.isspace()

(False, False, True, False, True, False, True)

In [114]:
c.isupper(),c.islower()

(False, True)

In [120]:
a.startswith("1"), c.endswith("d")

(True, True)

In [122]:
# similar to string, list is also a data container

#List
L = [1,"a",2.5]

type(L)

list

In [123]:
L[-1]

2.5

In [124]:
L[0]

1

In [125]:
L+L

[1, 'a', 2.5, 1, 'a', 2.5]

In [126]:
"a" in L

True

In [127]:
"a" is L

False

In [131]:
a = "ashi"
del a[0]  # this will throw an error
del L[0]
L

#Lists are mutable while strings are immutable

['a', 2.5]

In [134]:
# for min and max functions list mustbe having the same data type values
# List functions

L.append(8.8)
L

['a', 2.5, 8.8]

In [137]:
L.insert(2,"2")
L.insert(2,"2")
L

['a', 2.5, '2', '2', 8.8]

In [140]:
L.insert(0,"chacha")
L

['chacha', 'a', 2.5, '2', '2', 8.8]

In [141]:
# explore other list functions by your self similar to string

# Tuples

T = (1,2,3,9.8,"asdasd")
T

(1, 2, 3, 9.8, 'asdasd')

In [148]:
len(T), T[0], T+T, T*3

(5,
 1,
 (1, 2, 3, 9.8, 'asdasd', 1, 2, 3, 9.8, 'asdasd'),
 (1, 2, 3, 9.8, 'asdasd', 1, 2, 3, 9.8, 'asdasd', 1, 2, 3, 9.8, 'asdasd'))

In [149]:
del T[3] # you can not delete or add any member in tuple
# explore all other tuple operations

TypeError: 'tuple' object doesn't support item deletion

In [155]:
# conversion from one datatype to another datatype

float(5), int(57.88), int("12"), str(123)
# all integers can be conerted in to string but for string, it must be of only numberic digits

(5.0, 57, 12, '123')

In [156]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [157]:
str([1,2,3])

'[1, 2, 3]'

In [158]:
tuple("python")

('p', 'y', 't', 'h', 'o', 'n')

In [159]:
tuple([1,2,3])

(1, 2, 3)

In [162]:
# Dictionary is also the type of data containers
# Dictionary is a key,value pair

d = {"Name":"Roja","Age":7,"Job Title":"Management Trainee"}
d

{'Name': 'Roja', 'Age': 7, 'Job Title': 'Management Trainee'}

In [164]:
d["Name"]

'Roja'

In [170]:
d["Name"]="Ram"
d

{'Age': 7, 'Job Title': 'Management Trainee', 'Name': 'Ram'}

In [171]:
del d["Name"]
d

{'Age': 7, 'Job Title': 'Management Trainee'}

In [173]:
d["score"] = [23,24,25]
d

{'Age': 7, 'Job Title': 'Management Trainee', 'score': [23, 24, 25]}

In [175]:
# del d["score"][2]
d

{'Age': 7, 'Job Title': 'Management Trainee', 'score': [23, 24]}

In [177]:
d.clear()
d

{}

In [181]:
a = {1:"a",2:"b"}
a

{1: 'a', 2: 'b'}

In [182]:
a.keys(),a.values()

(dict_keys([1, 2]), dict_values(['a', 'b']))

In [183]:
max(a.keys())

2

In [184]:
len(a)

2