In [6]:
# find function in string

string1 = "cat pictur is cat picture"

# find first index of this string 
i = string1.find("c")
print(i)

# print first index after precious index
b = string1.find("c",i+1)
print(b)

0
6

In [11]:
c = {"a":1,"b":2,"c":3}
print("class=",type(c))
print(c["a"])
print(c.keys())
print(c.values())

class= <class 'dict'>
1
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])

In [13]:
print(c)
c.pop("a")     # removes  particular element from dictionary
c.update({"f":6}) # add value to the dictionary
print(c)

{'a': 1, 'b': 2, 'c': 3}
{'b': 2, 'c': 3, 'f': 6}

In [19]:
#### operator module : arrange dictionary in asc order ####
import operator

d = {1:100,2:200,3:300,4:432,0:506}
print("original  ", d)

sorted_d = sorted(d.items(), key=operator.itemgetter(0))     # 0 is for sort by key
print(sorted_d)

sorted_d = sorted(d.items(), key=operator.itemgetter(1),reverse=True)    # 1 is for sort by value, reverse for reverse order
print(sorted_d)

original   {1: 100, 2: 200, 3: 300, 4: 432, 0: 506}
[(0, 506), (1, 100), (2, 200), (3, 300), (4, 432)]
[(0, 506), (4, 432), (3, 300), (2, 200), (1, 100)]

In [22]:
d1 = {"a":1,"b":2}
d2 = {"c":3,"d":4}
print("merge two dictionaries in into d1: ")
d1.update(d2)
d1

merge two dictionaries in into d1:

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [23]:
# map two list into dictionaries

a = ["red","green","blue"]
b = [0,1,2]
d1 = dict(zip(b,a))
print(d1)

{0: 'red', 1: 'green', 2: 'blue'}

In [31]:
a = ['001','002','003','004']
b = ["Manager", "Trainee","Hr"]
c = dict(zip(a,b))
c

{'001': 'Manager', '002': 'Trainee', '003': 'Hr'}

In [33]:
# Another datatype :~ SETS (set theory, works in that manner only, no mathematical operations)
# Sets are denoted by curly braces
# set is collection of ordered set of unique items

set1 = {18,11,12,13,14,14,14}
set1

{11, 12, 13, 14, 18}

In [38]:
s1 = {1,22,23,3,4,9,5}
s2 = {1,0,8,9,9,}
print("s1 :",s1)
print("s2 :",s2)

print("Elements that are in s1 and not in s2 :", s1-s2)
print("Elements which are in both s1 and s2 :",s1&s2)
print("union of s1 and s2" :,s1|s2)

s1 : {1, 3, 4, 5, 9, 22, 23}
s2 : {0, 1, 8, 9}
Elements that are in s1 and not in s2 {3, 4, 5, 22, 23}
Elements which are in both s1 and s2 {1, 9}
union of s1 and s2 {0, 1, 3, 4, 5, 8, 9, 22, 23}

In [40]:
s1.remove(3) # remove element from set
s1

{1, 4, 5, 9, 22, 23}

In [42]:
# Frozen sets - once the set is frozen, you cant change the set

fs = frozenset({1,2,3,4})
print("set=",fs)
print("Type=",type(fs))
fs.remove(3)

set= frozenset({1, 2, 3, 4})
Type= <class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'remove'

In [47]:
########################################
######## If - Else statement 
########################################

'''
if condition1:
    sstatements
elif condition2:
    statements
else
    pass
'''

x=input("Your name=")
if len(x)>10:
    print("Name is more than 10 letters")
elif len(x)<=10 and len(x)>5:
    print("betwen 5-10")
else:
    pass

Your name=asd

In [52]:
'''
Create program to create username and password and 
let the user login again with username ans password if everything is correct
'''

user_details={"Name":'',"Age":'',"Gender":''}
Username = input("Create username: ")
Password = input("Create password: ")

print("your username and password are registered")
print("*"*50)
username_attempt=input("Username: ")
password_attempt=input("Password: ")

if Username == username_attempt and Password == password_attempt:
    print("Congratulations!! You have logged successfully..")
    print("Please register your details")
    user_details["Name"] = input("Name: ")
    user_details["Age"] = input("Age: ")
    user_details["Gender"] = input("Gender: ")
    print(user_details)
    
else:
    print("Unsuccessfull attempt ! please try again")

Create username: c
Create password: p
your username and password are registered
**************************************************
Username: c
Password: p
Congratulations!! You have logged successfully..
Please register your details
Name: chintan
Age: 30
Gender: M
{'Name': 'chintan', 'Age': '30', 'Gender': 'M'}

In [57]:
######################################
# Loops
######################################

# For loop
for i in range(1,8):
    print(i,end="\t")

1	2	3	4	5	6	7

In [63]:
for i in range(1,20,2):
    print(i,end="\t")
    
print("\n")

for i in range(102,10,-2):
    print(i,end="\t")

1	3	5	7	9	11	13	15	17	19

102	100	98	96	94	92	90	88	86	84	82	80	78	76	74	72	70	68	66	64	62	60	58	56	54	52	50	48	46	44	42	40	38	36	34	32	30	28	26	24	22	20	18	16	14	12

In [69]:
# for loop in a dictionary

d={1:"Red",2:"Pink"}

for i in d.values():
    print(i,end="\t")
    
print("\n")

for i in d.keys():
    print(i,end="\t")

print("\n")

for i in d:
    print(i,end="\t")

Red	Pink

1	2

1	2

In [5]:
course = {'IoT', 'Data Science', 'Data Analytics', 'Machine Learning')
for index, course in enumerate(course):
    print(index,course)
type(course)

0 Machine Learning
1 Data Analytics
2 IoT
3 Data Science

str

In [6]:
# Tuples run faster than List
import timeit 
print(timeit.timeit('a=(1,2,3,4,5,6,7,8,9,10,11,12)', number=2000000))
print(timeit.timeit('b=[1,2,3,4,5,6,7,8,9,10,11,12]', number=2000000))

0.04272951200005082
0.2189216489998671

In [12]:
a=((6,7,3),(8,9,0),(7,3,3))
a
a[0][1]

7

In [13]:
for i in a:
    print(i)

(6, 7, 3)
(8, 9, 0)
(7, 3, 3)

In [20]:
d={}
d={"a":2,"b":3,"c":3}
d
d["a"]
d.keys()
d.values()
max(d.values())

d.clear()
print(d)

{}